@using CarQuest.Web.ViewModels.TicketMechanic
@model IEnumerable<CarQuest.Web.ViewModels.TicketMechanic.TicketMechanicAllViewModel>
@{
	ViewData["Title"] = "Your Tickets";
}

<h1>@ViewData["Title"]</h1>
@if (!Model.Any())
{
	<p>No tickets</p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Car</th>
				<th>Owner</th>
			</tr>
		</thead>
		<tbody>
			@foreach (TicketMechanicAllViewModel ticket in Model)
			{
				<tr>
					<td>@ticket.Title</td>
					<td>@ticket.Description</td>
					<td>
						<a asp-controller="TicketMechanic" asp-action="Details" asp-route-id="@ticket.CarId">@ticket.Car.Brand @ticket.Car.Model @ticket.Car.Year</a>
					</td>
					<td>@ticket.OwnerFirstName @ticket.OwnerLastName</td>
					<td>
						@if (ticket.OfferId == null)
						{
							<a asp-controller="Offer" asp-action="Add" asp-route-id="@ticket.Id">Make Offer</a> @Html.Raw("|")
							<a asp-controller="TicketMechanic" asp-action="Resign" asp-route-id="@ticket.Id">Resign</a>
						}
						else
						{
							<a asp-controller="Offer" asp-action="DetailsMechanic" asp-route-id="@ticket.OfferId">View Offer</a> @Html.Raw("|")
							if (ticket.Offer!.HasUserAccepted)
							{
								<a asp-controller="TicketMechanic" asp-action="Complete" asp-route-id="@ticket.Id">Complete</a>
							}
							else
							{
								<a asp-controller="TicketMechanic" asp-action="Resign" asp-route-id="@ticket.Id">Resign</a>
							}
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}