@	using CarQuest.Web.ViewModels.Ticket
@model IEnumerable<TicketUserAllViewModel>
@{
	ViewData["Title"] = "Your Tickets";
}

<h1>@ViewData["Title"]</h1>
@if (!Model.Any())
{
	<p>No tickets found for this user.</p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Car</th>
				<th>Assigned Mechanic</th>
			</tr>
		</thead>
		<tbody>
			@foreach (TicketUserAllViewModel ticket in Model)
			{
				<tr>
					<td>@ticket.Title</td>
					<td>@ticket.Description</td>
					<td>@ticket.Car.Brand @ticket.Car.Model @ticket.Car.Year</td>
					@if (ticket.AssignedMechanic != null)
					{
						<td>@ticket.AssignedMechanic.User.FirstName @ticket.AssignedMechanic.User.LastName</td>
					}
					<td>
						<a asp-controller="TicketUser" asp-action="UserEdit" asp-route-id="@ticket.Id">Edit</a> |
						<a asp-controller="TicketUser" asp-action="UserRemove" asp-route-id="@ticket.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}